<a href="https://colab.research.google.com/github/sreent/data-management/blob/main/MySQL%20Hand-On%20Lab%20-%20Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MySQL Hand-On Lab**

##Setting Up MySQL Environment

In [1]:
# install and start mysql server
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!/etc/init.d/mysql restart > /dev/null

# mount gdrive, required for downloaded dataset (or sql data dump)
import os
from google.colab import drive
drive.mount('/content/drive')

# in gdrive,  create a folder for storing sql data dump (a git repo in our case) of the employees sample database
%mkdir -p /content/drive/MyDrive/mysql

# clone a repo storing the employees data (the source data for sql data dump)
%cd /content/drive/MyDrive/mysql
# if the repo is already existed then pull the update. if not, then we clone the reop.
!git -C hr-schema-mysql pull || git clone https://github.com/nomemory/hr-schema-mysql.git hr-schema-mysql > /dev/null

# navigate to the downloaded repo
%cd /content/drive/MyDrive/mysql/hr-schema-mysql
# restore the employees sample database from the dump data
!mysql -t < hr-schema-mysql.sql > /dev/null

# back to the default directory
%cd /content

# create a database user and grant access to the employees database
!mysql -e "CREATE USER IF NOT EXISTS 'francis'@'localhost' IDENTIFIED WITH mysql_native_password BY 'california';" 
!mysql -e "GRANT ALL PRIVILEGES ON hr.* TO 'francis'@'localhost';"

# install sql magic, required for running sql commands in jupyter notebook
!pip install -q ipython-sql
# install mysql python connector
!pip install -q pymysql mysql-connector-python mysqlclient

# enable sql magic in the notebook
%reload_ext sql

# queries are returned in the pandas format 
%config SqlMagic.autopandas=True

import pandas as pd
# maximum # of rows to be rendered
pd.set_option('display.max_rows', 25)

# connect to the hr database
%sql mysql+pymysql://francis:california@localhost/hr

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

su: warning: cannot change directory to /nonexistent: No such file or directory
Mounted at /content/drive
/content/drive/MyDrive/mysql
Already up to date.
/content/drive/MyDrive/mysql/hr-schema-mysql
/content
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 10.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 KB 793.9 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 33.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 KB 9.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysqlclient (setup.py) ... done

##The Employees Schema
The Human Resources (HR) schema is part of the Oracle Sample  Schemas. The  practice labs in this course use data from the HR schema. Oracle provides several schema objects for training purposes.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1lbMXyFIaNQTjZPmDB3VghajrAAIm3FH0)

##**Lab 1**: Retrieving Data Using the SQL <code>SELECT</code> Statement
This practice covers the following topics:
- Selecting all data from different tables
- Describing the structure of tables
- Performing arithmetic calculations and specifying column names

**Task 1.1** The following <code>SELECT</code> statement executes successfully: (True/False)
<pre>
SELECT last_name, job_id, salary AS sal
FROM employees;
</pre>

In [2]:
%%sql
# Insert Your Code Here
SELECT last_name, job_id, salary AS sal
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

    last_name      job_id       sal
0        King     AD_PRES  24000.00
1     Kochhar       AD_VP  17000.00
2     De Haan       AD_VP  17000.00
3      Hunold     IT_PROG   9000.00
4       Ernst     IT_PROG   6000.00
..        ...         ...       ...
102       Fay      MK_REP   6000.00
103    Mavris      HR_REP   6500.00
104      Baer      PR_REP  10000.00
105   Higgins      AC_MGR  12000.00
106     Gietz  AC_ACCOUNT   8300.00

[107 rows x 3 columns]

**Task 1.2** The following <code>SELECT</code> statement executes successfully: (True/False)
<pre>
SELECT *
FROM jobs;
</pre>

In [3]:
%%sql
# Insert Your Code Here
SELECT *
FROM jobs;

 * mysql+pymysql://francis:***@localhost/hr
19 rows affected.

        job_id                        job_title min_salary max_salary
0   AC_ACCOUNT                Public Accountant       4200       9000
1       AC_MGR               Accounting Manager       8200      16000
2      AD_ASST         Administration Assistant       3000       6000
3      AD_PRES                        President      20000      40000
4        AD_VP    Administration Vice President      15000      30000
5   FI_ACCOUNT                       Accountant       4200       9000
6       FI_MGR                  Finance Manager       8200      16000
7       HR_REP   Human Resources Representative       4000       9000
8      IT_PROG                       Programmer       4000      10000
9       MK_MAN                Marketing Manager       9000      15000
10      MK_REP         Marketing Representative       4000       9000
11      PR_REP  Public Relations Representative       4500      10500
12    PU_CLERK                 Purchasing Clerk       2500       5500
13      PU_MAN               Purchasing Manager       8000      15000
14      SA_MAN                    Sales Manager      10000      20000
15      SA_REP             Sales Representative       6000      12000
16    SH_CLERK                   Shipping Clerk       2500       5500
17    ST_CLERK                      Stock Clerk       2000       5000
18      ST_MAN                    Stock Manager       5500       8500

**Task 1.3** There are 4 coding errors in the following statement. Can you identify and fix them?
<pre>
SELECT employee_id, last_name
       sal x 12 ANNUAL SALARY
FROM employees;
</pre>

In [4]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

     employee_id last_name
0            100      King
1            101   Kochhar
2            102   De Haan
3            103    Hunold
4            104     Ernst
..           ...       ...
102          202       Fay
103          203    Mavris
104          204      Baer
105          205   Higgins
106          206     Gietz

[107 rows x 2 columns]

**Task 1.4** You have been hired as a SQL programmer. Your first task is to determine the structure of the <code>departments</code> table and its contents.

To determine the <code>departments</code> table structure:
<pre>
DESCRIBE departments
</pre>

![task-1.4a.png](https://drive.google.com/uc?id=13wod4XZZ5IB25emHUa8OeyLEb26uzqCC)

In [5]:
%%sql
# Insert Your Code Here
DESCRIBE departments

 * mysql+pymysql://francis:***@localhost/hr
4 rows affected.

             Field          Type Null  Key Default Extra
0    department_id  int unsigned   NO  PRI    None
1  department_name   varchar(30)   NO         None
2       manager_id  int unsigned  YES  MUL    None
3      location_id  int unsigned  YES  MUL    None

To view the data contained in the <code>departments</code> table:
<pre>
SELECT *
FROM departments;
</pre>

![task-1.4b.png](https://drive.google.com/uc?id=19XzjmVZcJrZWpF4toYnkL53YjKs6UjZ0)

In [6]:
%%sql
# Insert Your Code Here
SELECT *
FROM departments;

 * mysql+pymysql://francis:***@localhost/hr
27 rows affected.

    department_id   department_name  manager_id  location_id
0              10    Administration       200.0         1700
1              20         Marketing       201.0         1800
2              30        Purchasing       114.0         1700
3              40   Human Resources       203.0         2400
4              50          Shipping       121.0         1500
..            ...               ...         ...          ...
22            230       IT Helpdesk         NaN         1700
23            240  Government Sales         NaN         1700
24            250      Retail Sales         NaN         1700
25            260        Recruiting         NaN         1700
26            270           Payroll         NaN         1700

[27 rows x 4 columns]

**Task 1.5** Your task is to determine the structure of the <code>employees</code> table and its contents.

To determine the <code>employees</code> table structure:
<pre>
DESCRIBE employees
</pre>

![task-1.5.png](https://drive.google.com/uc?id=12Oi1uc_XZJChKNOU4uNon3W53dVFt6CI)

In [7]:
%%sql
# Insert Your Code Here
DESCRIBE employees;

 * mysql+pymysql://francis:***@localhost/hr
11 rows affected.

             Field          Type Null  Key Default Extra
0      employee_id  int unsigned   NO  PRI    None
1       first_name   varchar(20)  YES         None
2        last_name   varchar(25)   NO         None
3            email   varchar(25)   NO         None
4     phone_number   varchar(20)  YES         None
5        hire_date          date   NO         None
6           job_id   varchar(10)   NO  MUL    None
7           salary  decimal(8,2)   NO         None
8   commission_pct  decimal(2,2)  YES         None
9       manager_id  int unsigned  YES  MUL    None
10   department_id  int unsigned  YES  MUL    None

**Task 1.6** The HR department wants a query to display the last name, hire date, and
employee ID for each employee, with the employee ID appearing first. Provide an alias <code>start_date</code> for the <code>hire_date</code> column.
<pre>
SELECT employee_id, last_name, job_id, hire_date AS start_date
FROM employees;
</pre>

![task-1.6.png](https://drive.google.com/uc?id=1m-kSw4rSwQYcgZ2tzo5tXEEwaxgjhtSa)

In [8]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name, job_id, hire_date AS start_date
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

     employee_id last_name      job_id  start_date
0            100      King     AD_PRES  1987-06-17
1            101   Kochhar       AD_VP  1989-09-21
2            102   De Haan       AD_VP  1993-01-13
3            103    Hunold     IT_PROG  1990-01-03
4            104     Ernst     IT_PROG  1991-05-21
..           ...       ...         ...         ...
102          202       Fay      MK_REP  1997-08-17
103          203    Mavris      HR_REP  1994-06-07
104          204      Baer      PR_REP  1994-06-07
105          205   Higgins      AC_MGR  1994-06-07
106          206     Gietz  AC_ACCOUNT  1994-06-07

[107 rows x 4 columns]

**Task 1.7** The HR department wants a query to display all unique job IDs from the <code>employees</code> table.

<pre>
SELECT DISTINCT job_id
FROM employees;
</pre>

![task-1.7.png](https://drive.google.com/uc?id=1dVJOQBA7Nv2f6ppF4driH-IkO15ix2ET)

In [9]:
%%sql
# Insert Your Code Here
SELECT DISTINCT job_id
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
19 rows affected.

        job_id
0   AC_ACCOUNT
1       AC_MGR
2      AD_ASST
3      AD_PRES
4        AD_VP
5   FI_ACCOUNT
6       FI_MGR
7       HR_REP
8      IT_PROG
9       MK_MAN
10      MK_REP
11      PR_REP
12    PU_CLERK
13      PU_MAN
14      SA_MAN
15      SA_REP
16    SH_CLERK
17    ST_CLERK
18      ST_MAN

##**Lab 2**: Restricting and Sorting Data
This practice covers the following topics:
- Selecting data and changing the order of the rows that are displayed
- Restricting rows by using the <code>WHERE</code> clause
- Sorting rows by using the <code>ORDER BY</code> clause

In this practice, you build more reports by using statements that use the <code>WHERE</code> clause and the <code>ORDER BY</code> clause.

**Task 2.1** The HR department needs your assistance in creating some queries. Because of budget issues, the HR department needs a report that displays the last name and salary of employees who earn more than $12,000.

![task-2.1.png](https://drive.google.com/uc?id=1Jf76ZzpBJdmhq-HAGMbpv9WUc3ha3o0P)

In [10]:
%%sql
# Insert Your Code Here
SELECT last_name, salary
FROM employees
WHERE salary > 12000;

 * mysql+pymysql://francis:***@localhost/hr
6 rows affected.

   last_name    salary
0       King  24000.00
1    Kochhar  17000.00
2    De Haan  17000.00
3    Russell  14000.00
4   Partners  13500.00
5  Hartstein  13000.00

**Task 2.2** Create a report that displays the last name and department
number for employee number 176.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1AQWbDWAv5JxwgMZUdrn8wnrCV128J3Vd)

In [11]:
%%sql
# Insert Your Code Here
SELECT last_name, department_id
FROM employees
WHERE employee_id = 176;

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

  last_name  department_id
0    Taylor             80

**Task 2.3** The HR department needs to find high-salary and low-salary employees. Modify your SQL code created for Task 2.1 to display the last name and salary for any employee whose salary is not in the range \$5,000 through \$12,000.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1db8kCabhxb-spQdWJUToWb-jFMl9cjFF)

In [12]:
%%sql
# Insert Your Code Here
SELECT last_name, salary
FROM employees
WHERE salary NOT BETWEEN 5000 AND 12000;

 * mysql+pymysql://francis:***@localhost/hr
55 rows affected.

    last_name    salary
0        King  24000.00
1     Kochhar  17000.00
2     De Haan  17000.00
3      Austin   4800.00
4   Pataballa   4800.00
..        ...       ...
50     Feeney   3000.00
51   OConnell   2600.00
52      Grant   2600.00
53     Whalen   4400.00
54  Hartstein  13000.00

[55 rows x 2 columns]

**Task 2.4** Create a report to display the last name and hire date for employees with the last names of Matos and Talyor. Order the query in ascending order by hire date.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1i-XUEew_xIG20grV9i79rNlRtrIN_feS)

In [13]:
%%sql
# Insert Your Code Here
SELECT last_name, job_id, hire_date
FROM employees
WHERE last_name IN ('Matos', 'Taylor')
ORDER BY hire_date ASC;

 * mysql+pymysql://francis:***@localhost/hr
3 rows affected.

  last_name    job_id   hire_date
0    Taylor  SH_CLERK  1998-01-24
1     Matos  ST_CLERK  1998-03-15
2    Taylor    SA_REP  1998-03-24

**Task 2.5** Display the last name and department number of all employees in departments <code>20</code> or <code>50</code> in ascending order by employee number.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1bPzYwvT4xiGo6GA8XzA1HZ3z63So8xol)

In [14]:
%%sql
# Insert Your Code Here
SELECT last_name, department_id
FROM employees
WHERE department_id IN (20, 50)
ORDER BY last_name ASC;

 * mysql+pymysql://francis:***@localhost/hr
47 rows affected.

   last_name  department_id
0   Atkinson             50
1       Bell             50
2     Bissot             50
3       Bull             50
4     Cabrio             50
..       ...            ...
42    Taylor             50
43    Vargas             50
44   Vollman             50
45     Walsh             50
46     Weiss             50

[47 rows x 2 columns]

**Task 2.6** Modify the query for Task 2.3 to display the employee number and salary of employees who earn between \$5,000 and \$12,000. Label the columns <code>employee</code> and <code>monthly salary</code>, respectively.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1Cf5QtPmDv-KEXvarRAxHmbOdwL4fBKL6)

In [15]:
%%sql
# Insert Your Code Here
SELECT last_name "employee", salary "monthly_salary"
FROM employees
WHERE salary BETWEEN 5000 AND 12000
AND department_id IN (20, 50);

 * mysql+pymysql://francis:***@localhost/hr
6 rows affected.

   employee monthly_salary
0     Weiss        8000.00
1     Fripp        8200.00
2  Kaufling        7900.00
3   Vollman        6500.00
4   Mourgos        5800.00
5       Fay        6000.00

**Task 2.7** The HR department needs a report that displays the last name and hire date of all employees who were hired in 2000.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1v2ATOUdIwMYbgCKxUn1g9NtIpLX-WUud)

In [16]:
%%sql
# Insert Your Code Here
SELECT last_name, hire_date
FROM employees
WHERE hire_date >= '2000-01-01' AND hire_date < '2001-01-01';

 * mysql+pymysql://francis:***@localhost/hr
11 rows affected.

     last_name   hire_date
0       Markle  2000-03-08
1   Philtanker  2000-02-06
2      Zlotkey  2000-01-29
3      Marvins  2000-01-24
4          Lee  2000-02-23
5         Ande  2000-03-24
6        Banda  2000-04-21
7        Kumar  2000-04-21
8      Johnson  2000-01-04
9        Geoni  2000-02-03
10       Grant  2000-01-13

**Task 2.8** Create a report to display the employee number and job title of all employees who are currently a manager.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1tQjtbifEkssAz36RFss-biY50SzE2lSY)

In [17]:
%%sql
# Insert Your Code Here
SELECT last_name, job_id
FROM employees
WHERE manager_id IS NULL;

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

  last_name   job_id
0      King  AD_PRES

**Task 2.9** Create a report to display the employee number and salaryof all current employees. Sort the data in descending order of salary. Use the column’s numeric position in the ORDER BY clause.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1kdZAF91gOnKJgg2F2JgwhGLuJm1kh-tE)

In [18]:
%%sql
# Insert Your Code Here
SELECT last_name, salary, commission_pct
FROM employees
WHERE commission_pct IS NOT NULL
ORDER BY salary DESC, commission_pct DESC;

 * mysql+pymysql://francis:***@localhost/hr
35 rows affected.

    last_name    salary commission_pct
0     Russell  14000.00           0.40
1    Partners  13500.00           0.30
2   Errazuriz  12000.00           0.30
3        Ozer  11500.00           0.25
4   Cambrault  11000.00           0.30
..        ...       ...            ...
30        Lee   6800.00           0.10
31       Ande   6400.00           0.10
32      Banda   6200.00           0.10
33    Johnson   6200.00           0.10
34      Kumar   6100.00           0.10

[35 rows x 3 columns]

##**Lab 3**: Using Single-Row Functions to Customize Output
This practice covers the following topics:
- Writing a query that displays the current date
- Creating queries that require the use of numeric, character, and date functions
- Performing calculations of years and months of service for an employee

This practice provides a variety of exercises using the different functions that are available for
character, number, and date data types. Remember that for nested functions, the results are evaluated from the innermost function to the outermost function.

**Task 3.1** Write a query to display the system date. Label the column Date.

Note: If your database is remotely located in a different time zone, the output will be the date for the operating system on which the database resides.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1rx-d5wM7AANnaGV1TEQyftIiGkn9I8sV)

In [19]:
%%sql
# Insert Your Code Here
SELECT sysdate() AS date;

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

                 date
0 2023-03-30 04:20:59

**Task 3.2** The HR department needs a report to display the employee ID, last name, salary, and salary increased by 15.5% (expressed as a whole number) for each employee. Label the column <code>new_salary</code>.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1zfeoFuQTDBaM457ZRv6VXGNEJOamuUaW)

In [20]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name, salary,
       ROUND(salary * 1.155, 0) AS new_salary
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

     employee_id last_name    salary new_salary
0            100      King  24000.00      27720
1            101   Kochhar  17000.00      19635
2            102   De Haan  17000.00      19635
3            103    Hunold   9000.00      10395
4            104     Ernst   6000.00       6930
..           ...       ...       ...        ...
102          202       Fay   6000.00       6930
103          203    Mavris   6500.00       7508
104          204      Baer  10000.00      11550
105          205   Higgins  12000.00      13860
106          206     Gietz   8300.00       9587

[107 rows x 4 columns]

**Task 3.3** Modify your query in the Task 3.2 to add a column that subtracts the old salary from the new salary. Label the column <code>increase</code>.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1MkU_OL40W33l7dVQTjLBUy9SiWhsJ4Sp)

In [21]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name, salary,
       ROUND(salary * 1.155, 0) AS new_salary,
       ROUND(salary * 1.155, 0) - salary AS increase
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

     employee_id last_name    salary new_salary increase
0            100      King  24000.00      27720  3720.00
1            101   Kochhar  17000.00      19635  2635.00
2            102   De Haan  17000.00      19635  2635.00
3            103    Hunold   9000.00      10395  1395.00
4            104     Ernst   6000.00       6930   930.00
..           ...       ...       ...        ...      ...
102          202       Fay   6000.00       6930   930.00
103          203    Mavris   6500.00       7508  1008.00
104          204      Baer  10000.00      11550  1550.00
105          205   Higgins  12000.00      13860  1860.00
106          206     Gietz   8300.00       9587  1287.00

[107 rows x 5 columns]

**Task 3.4** Write a query that displays the last name (with the first letter in uppercase and all the
other letters in lowercase) and the length of the last name for all employees whose name starts with the letters “J,” “A,” or “M.” Give each column an appropriate label. Sort the results by the employees’ last names.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1bblPebmjozZKz92sxfmrgu8aQYnb__Ir)

In [22]:
%%sql
# Insert Your Code Here
SELECT CONCAT(UPPER(SUBSTRING(last_name,1,1)),LOWER(SUBSTRING(last_name,2))) AS name, 
       LENGTH(last_name) AS length
FROM employees
WHERE last_name LIKE 'J%'
OR last_name LIKE 'M%'
OR last_name LIKE 'A%'
ORDER BY last_name;

 * mysql+pymysql://francis:***@localhost/hr
16 rows affected.

           name  length
0          Abel       4
1          Ande       4
2      Atkinson       8
3        Austin       6
4       Johnson       7
5         Jones       5
6        Mallin       6
7        Markle       6
8        Marlow       6
9       Marvins       7
10        Matos       5
11       Mavris       6
12       Mccain       6
13       Mcewen       6
14  Mikkilineni      11
15      Mourgos       7

##**Lab 4**: Using Conversion Functions and Conditional Expressions
This practice covers the following topics:
- Creating queries that use <code>CAST</code> function.
- Creating queries that use conditional expressions such as <code>CASE</code> and <code>IFNULL</code>.

**Task 4.1** Create a report that produces the following for each employee:
<code><employee last name></code> earns <code>salary</code> monthly but wants <code>3 times salary</code>. Label the column <code>dream_salary</code>.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1w05zy2kB8TB2CHBH7VBnQ9rPIYhAJhYh)

In [23]:
%%sql
# Insert Your Code Here
SELECT CONCAT(last_name, ' earns ',
              CAST(salary AS CHAR),
              ' monthly but wants ',
              CAST(salary * 3 AS CHAR),
              '.') AS dream_salary
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

                                          dream_salary
0      King earns 24000.00 monthly but wants 72000.00.
1    Kochhar earns 17000.00 monthly but wants 51000...
2    De Haan earns 17000.00 monthly but wants 51000...
3     Hunold earns 9000.00 monthly but wants 27000.00.
4      Ernst earns 6000.00 monthly but wants 18000.00.
..                                                 ...
102      Fay earns 6000.00 monthly but wants 18000.00.
103   Mavris earns 6500.00 monthly but wants 19500.00.
104    Baer earns 10000.00 monthly but wants 30000.00.
105  Higgins earns 12000.00 monthly but wants 36000...
106    Gietz earns 8300.00 monthly but wants 24900.00.

[107 rows x 1 columns]

**Task 4.2** Create a query that displays employees’ last names and commission amounts. If an
employee does not earn commission, show “No Commission.” Label the column <code>comm</code>.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1sqnC1mMpRAHZIhIz5aibcZlVOa3lqsj1)

In [24]:
%%sql
# Insert Your Code Here
SELECT last_name,
       IFNULL(CAST(commission_pct AS CHAR), 'No Commission') AS comm
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

    last_name           comm
0        King  No Commission
1     Kochhar  No Commission
2     De Haan  No Commission
3      Hunold  No Commission
4       Ernst  No Commission
..        ...            ...
102       Fay  No Commission
103    Mavris  No Commission
104      Baer  No Commission
105   Higgins  No Commission
106     Gietz  No Commission

[107 rows x 2 columns]

**Task 4.3** . Rewrite the statement in the preceding exercise by using the <code>CASE</code> syntax.

![hr-rl-sm.gif](https://drive.google.com/uc?id=16DnEozDjo58rwggN8Ug23yLkG6Iimgep)

In [25]:
%%sql
# Insert Your Code Here
SELECT job_id, 
       CASE job_id
            WHEN 'ST_CLERK' THEN 'E'
            WHEN 'SA_REP' THEN 'D'
            WHEN 'IT_PROG' THEN 'C'
            WHEN 'ST_MAN' THEN 'B'
            WHEN 'AD_PRES' THEN 'A'
            ELSE '0'
       END AS grade      
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

         job_id grade
0    AC_ACCOUNT     0
1        AC_MGR     0
2       AD_ASST     0
3       AD_PRES     A
4         AD_VP     0
..          ...   ...
102      ST_MAN     B
103      ST_MAN     B
104      ST_MAN     B
105      ST_MAN     B
106      ST_MAN     B

[107 rows x 2 columns]

##**Lab 5**: Reporting Aggregated Data Using the Group Functions
This practice covers the following topics:
- Writing queries that use the group functions
- Grouping by rows to achieve multiple results
- Restricting groups by using the <code>HAVING</code> clause

After completing this practice, you should be familiar with using group functions and selecting
groups of data.

**Task 5.1** Determine the validity of the following statements. Either True or False.
- Group functions work across many rows to produce one result per group. <code>True/False</code>
- Group functions include nulls in calculations. <code>True/False</code>
- The <code>WHERE</code> clause restricts rows before inclusion in a group calculation.<code>True/False</code>

In [26]:
%%sql
# Insert Your Code Here

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 5.2** The HR department needs the following reports (5.2-5.5): Find the highest, lowest, sum, and average salary of all employees. Label the columns <code>maximum</code>, <code>minimum</code>, <code>sum</code>, and <code>average</code>, respectively. Round your results to the
nearest whole number.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1aiUYt_7_mXxppPZSporFGWgYtcyT6YKG)

In [27]:
%%sql
# Insert Your Code Here
SELECT ROUND(MAX(salary),0) "maximum",
       ROUND(MIN(salary),0) "minimum",
       ROUND(SUM(salary),0) "sum",
       ROUND(AVG(salary),0) "average"
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

  maximum minimum     sum average
0   24000    2100  691400    6462

**Task 5.3** Modify the query in Task 5.2 to display the minimum, maximum, sum and average salary for each job type.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1RLqrmRzwwIx3YkmEP6_UqACUAGt-BGlF)

In [28]:
%%sql
# Insert Your Code Here
SELECT job_id, 
       ROUND(MAX(salary),0) "maximum",
       ROUND(MIN(salary),0) "minimum",
       ROUND(SUM(salary),0) "sum",
       ROUND(AVG(salary),0) "average"
FROM employees
GROUP BY job_id;

 * mysql+pymysql://francis:***@localhost/hr
19 rows affected.

        job_id maximum minimum     sum average
0   AC_ACCOUNT    8300    8300    8300    8300
1       AC_MGR   12000   12000   12000   12000
2      AD_ASST    4400    4400    4400    4400
3      AD_PRES   24000   24000   24000   24000
4        AD_VP   17000   17000   34000   17000
5   FI_ACCOUNT    9000    6900   39600    7920
6       FI_MGR   12000   12000   12000   12000
7       HR_REP    6500    6500    6500    6500
8      IT_PROG    9000    4200   28800    5760
9       MK_MAN   13000   13000   13000   13000
10      MK_REP    6000    6000    6000    6000
11      PR_REP   10000   10000   10000   10000
12    PU_CLERK    3100    2500   13900    2780
13      PU_MAN   11000   11000   11000   11000
14      SA_MAN   14000   10500   61000   12200
15      SA_REP   11500    6100  250500    8350
16    SH_CLERK    4200    2500   64300    3215
17    ST_CLERK    3600    2100   55700    2785
18      ST_MAN    8200    5800   36400    7280

**Task 5.4** Write a query to display the number of people with the same job.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1meBgSUvu7GhkPiS03cw2AKtXVEnT8sZQ)

In [29]:
%%sql
# Insert Your Code Here
SELECT job_id, COUNT(*) AS count
FROM employees
GROUP BY job_id;

 * mysql+pymysql://francis:***@localhost/hr
19 rows affected.

        job_id  count
0   AC_ACCOUNT      1
1       AC_MGR      1
2      AD_ASST      1
3      AD_PRES      1
4        AD_VP      2
5   FI_ACCOUNT      5
6       FI_MGR      1
7       HR_REP      1
8      IT_PROG      5
9       MK_MAN      1
10      MK_REP      1
11      PR_REP      1
12    PU_CLERK      5
13      PU_MAN      1
14      SA_MAN      5
15      SA_REP     30
16    SH_CLERK     20
17    ST_CLERK     20
18      ST_MAN      5

**Task 5.5** Find the difference between the highest and lowest salaries. Label the column <code>difference</code>.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1763WAWmYkX_biNAFVsZnnElS7mrzLwRF)

In [30]:
%%sql
# Insert Your Code Here
SELECT MAX(salary) - MIN(salary) AS difference
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

  difference
0   21900.00

##**Lab 6**: Displaying Data from Multiple Tables Using Joins
This practice covers the following topics:
- Joining tables using an equijoin
- Performing outer and self-joins
- Adding conditions

This practice is intended to give you experience in extracting data from multiple tables using the
SQL:1999–compliant joins.

**Task 6.1** Write a query for the HR department to produce the addresses of all the departments. Use
the <code>locations</code> and <code>countries</code> tables. Show the location ID, street address, city, state or province, and country in the output. Use a <code>INNER JOIN</code> to produce the results.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1lkDiZyPLys5zOeJ0Sacys-KGBTYQzkXB)

In [31]:
%%sql
# Insert Your Code Here
SELECT location_id, street_address, city, state_province, country_name
FROM locations l
INNER JOIN countries c
ON l.country_id = c.country_id;

 * mysql+pymysql://francis:***@localhost/hr
23 rows affected.

,location_id,street_address,city,state_province,country_name
0,1000,1297 Via Cola di Rie,Roma,None,Italy
1,1100,93091 Calle della Testa,Venice,None,Italy
2,1200,2017 Shinjuku-ku,Tokyo,Tokyo Prefecture,Japan
3,1300,9450 Kamiya-cho,Hiroshima,None,Japan
4,1400,2014 Jabberwocky Rd,Southlake,Texas,United States of America
5,1500,2011 Interiors Blvd,South San Francisco,California,United States of America
6,1600,2007 Zagora St,South Brunswick,New Jersey,United States of America
7,1700,2004 Charade Rd,Seattle,Washington,United States of America
8,1800,147 Spadina Ave,Toronto,Ontario,Canada
9,1900,6092 Boxwood St,Whitehorse,Yukon,Canada
10,2000,40-5-12 Laogianggen,Beijing,None,China
11,2100,1298 Vileparle (E),Bombay,Maharashtra,India
12,2200,12-98 Victoria Street,Sydney,New South Wales,Australia
13,2300,198 Clementi North,Singapore,None,Singapore
14,2400,8204 Arthur St,London,None,United Kingdom
15,2500,"Magdalen Centre, The Oxford Science Park",Oxford,Oxford,United Kingdom
16,2600,9702 Chester Road,Stretford,Manchester,United Kingdom
17,2700,Schwanthalerstr. 7031,Munich,Bavaria,Germany
18,2800,Rua Frei Caneca 1360,Sao Paulo,Sao Paulo,Brazil
19,2900,20 Rue des Corps-Saints,Geneva,Geneve,Switzerland
20,3000,Murtenstrasse 921,Bern,BE,Switzerland
21,3100,Pieter Breughelstraat 837,Utrecht,Utrecht,Netherlands
22,3200,Mariano Escobedo 9991,Mexico City,"Distrito Federal,",Mexico

**Task 6.2** The HR department needs a report of all employees with corresponding departments. Write a query to display the last name, department number, and department name for these employees.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1JTsOIByK3ZfNh12_1lgvXZvxxrW-ku_Q)

In [32]:
%%sql
# Insert Your Code Here
SELECT e.last_name, e.department_id, d.department_name
FROM employees e
INNER JOIN departments d
ON e.department_id = d.department_id;

 * mysql+pymysql://francis:***@localhost/hr
106 rows affected.

     last_name  department_id department_name
0       Whalen             10  Administration
1    Hartstein             20       Marketing
2          Fay             20       Marketing
3     Raphaely             30      Purchasing
4         Khoo             30      Purchasing
..         ...            ...             ...
101    Sciarra            100         Finance
102      Urman            100         Finance
103       Popp            100         Finance
104    Higgins            110      Accounting
105      Gietz            110      Accounting

[106 rows x 3 columns]

**Task 6.3** The HR department needs a report of employees in Toronto. Display the last name, job, department number, and the department name for all employees who work in Toronto.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1-jT63i8B447qKEcAaTc_toW2LRVxd3ai)

In [33]:
%%sql
# Insert Your Code Here
SELECT e.last_name, e.job_id, e.department_id, d.department_name
FROM employees e 
INNER JOIN departments d
ON e.department_id = d.department_id
INNER JOIN locations l
ON d.location_id = l.location_id
WHERE LOWER(l.city) = 'toronto';

 * mysql+pymysql://francis:***@localhost/hr
2 rows affected.

   last_name  job_id  department_id department_name
0  Hartstein  MK_MAN             20       Marketing
1        Fay  MK_REP             20       Marketing

**Task 6.4** Create a report to display employees’ last names and employee numbers along with their
managers’ last names and manager numbers. Label the columns <code>employee</code>, <code>emp#</code>, <code>manager</code>, and <code>mgr#</code>, respectively.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1VeZUVswgKiMid3cRt1EVGfo56lyOL2iQ)

In [34]:
%%sql
# Insert Your Code Here
SELECT w.last_name AS "employee", w.employee_id AS "emp#",
       m.last_name AS "manager", m.employee_id AS "mgr#"
FROM employees w 
INNER JOIN employees m
ON w.manager_id = m.employee_id;

 * mysql+pymysql://francis:***@localhost/hr
106 rows affected.

    employee  emp#    manager  mgr#
0    Kochhar   101       King   100
1    De Haan   102       King   100
2     Hunold   103    De Haan   102
3      Ernst   104     Hunold   103
4     Austin   105     Hunold   103
..       ...   ...        ...   ...
101      Fay   202  Hartstein   201
102   Mavris   203    Kochhar   101
103     Baer   204    Kochhar   101
104  Higgins   205    Kochhar   101
105    Gietz   206    Higgins   205

[106 rows x 4 columns]

**Task 6.5** Modify the query used in Task 6.4 to display all employees, including King, who has no manager. Order the results by employee number.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1sQPiQkfXGbxDYxz5gtfV7maZm84fXzeQ)

In [35]:
%%sql
# Insert Your Code Here
SELECT w.last_name "employee", w.employee_id "emp#",
       m.last_name ",anager", m.employee_id AS "mgr#"
FROM employees w
LEFT OUTER JOIN employees m
ON w.manager_id = m.employee_id
ORDER BY w.employee_id;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

    employee  emp#    ,anager   mgr#
0       King   100       None    NaN
1    Kochhar   101       King  100.0
2    De Haan   102       King  100.0
3     Hunold   103    De Haan  102.0
4      Ernst   104     Hunold  103.0
..       ...   ...        ...    ...
102      Fay   202  Hartstein  201.0
103   Mavris   203    Kochhar  101.0
104     Baer   204    Kochhar  101.0
105  Higgins   205    Kochhar  101.0
106    Gietz   206    Higgins  205.0

[107 rows x 4 columns]

**Task 6.6** Create a report for the HR department that displays employee last names, department
numbers, and all the employees who work in the same department as a given employee. Give each column an appropriate label.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1hv0PjVrB9kFGAeNIehCbENfPdv9g3My4)

In [36]:
%%sql
# Insert Your Code Here
SELECT e.department_id AS department, e.last_name AS employee,
       c.last_name AS colleague
FROM employees e 
INNER JOIN employees c
ON e.department_id = c.department_id
WHERE e.employee_id <> c.employee_id
ORDER BY e.department_id, e.last_name, c.last_name;

 * mysql+pymysql://francis:***@localhost/hr
3192 rows affected.

      department   employee   colleague
0             20        Fay   Hartstein
1             20  Hartstein         Fay
2             30      Baida  Colmenares
3             30      Baida      Himuro
4             30      Baida        Khoo
...          ...        ...         ...
3187         100      Urman   Greenberg
3188         100      Urman        Popp
3189         100      Urman     Sciarra
3190         110      Gietz     Higgins
3191         110    Higgins       Gietz

[3192 rows x 3 columns]

**Task 6.7** The HR department needs a report on job grades and salaries. To familiarize yourself with
the <code>jobs</code> table, first show the structure of the <code>jobs</code> table. Then create a query that displays the name, job, department name, salary, mininum salary, and maximum salary for the job title for all employees.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1gZY5CRjpTTr95GadNgJluVi-rOs53w7i)

![hr-rl-sm.gif](https://drive.google.com/uc?id=18hzavaby0gGuzvB_blJkUDS199s4vUa3)

In [37]:
%%sql
# Insert Your Code Here
DESCRIBE jobs;

 * mysql+pymysql://francis:***@localhost/hr
4 rows affected.

        Field                   Type Null  Key Default Extra
0      job_id            varchar(10)   NO  PRI    None
1   job_title            varchar(35)   NO         None
2  min_salary  decimal(8,0) unsigned  YES         None
3  max_salary  decimal(8,0) unsigned  YES         None

In [38]:
%%sql
# Insert Your Code Here
SELECT e.last_name, e.job_id, d.department_name,
       e.salary, j.job_title, j.min_salary, j.max_salary
FROM employees e 
INNER JOIN departments d
ON e.department_id = d.department_id
INNER JOIN jobs j
ON e.salary BETWEEN j.min_salary AND j.max_salary;

 * mysql+pymysql://francis:***@localhost/hr
637 rows affected.

,last_name,job_id,department_name,salary,job_title,min_salary,max_salary
0,King,AD_PRES,Executive,24000.00,Administration Vice President,15000,30000
1,King,AD_PRES,Executive,24000.00,President,20000,40000
2,Kochhar,AD_VP,Executive,17000.00,Sales Manager,10000,20000
3,Kochhar,AD_VP,Executive,17000.00,Administration Vice President,15000,30000
4,De Haan,AD_VP,Executive,17000.00,Sales Manager,10000,20000
...,...,...,...,...,...,...,...
632,Gietz,AC_ACCOUNT,Accounting,8300.00,Human Resources Representative,4000,9000
633,Gietz,AC_ACCOUNT,Accounting,8300.00,Finance Manager,8200,16000
634,Gietz,AC_ACCOUNT,Accounting,8300.00,Accountant,4200,9000
635,Gietz,AC_ACCOUNT,Accounting,8300.00,Accounting Manager,8200,16000
636,Gietz,AC_ACCOUNT,Accounting,8300.00,Public Accountant,4200,9000

##**Lab 7**: Using Subqueries to Solve Queries
This practice covers the following topics:
- Using subqueries to find values that exist in one set of data and not in another

In this practice, you write complex queries using nested <code>SELECT</code> statements. For practice questions, you may want to create the inner query first. Make sure that it runs and produces the data that you anticipate before you code the outer query.

**Task 7.1** Create a report that displays the employee number, last name, and salary of all employees who earn more than the average salary. Sort the results in ascending order by salary.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1lDqcmDmbpJqFw5X6K3_iyZ6NLa4HUtPR)

In [39]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name, salary
FROM employees
WHERE salary > ( SELECT AVG(salary)
                 FROM employees )
ORDER BY salary;

 * mysql+pymysql://francis:***@localhost/hr
51 rows affected.

    employee_id last_name    salary
0           203    Mavris   6500.00
1           123   Vollman   6500.00
2           165       Lee   6800.00
3           113      Popp   6900.00
4           178     Grant   7000.00
..          ...       ...       ...
46          146  Partners  13500.00
47          145   Russell  14000.00
48          102   De Haan  17000.00
49          101   Kochhar  17000.00
50          100      King  24000.00

[51 rows x 3 columns]

**Task 7.2** Write a query that displays the employee number and last name of all employees who work in a department with any employee whose last name contains the letter “u.”

![hr-rl-sm.gif](https://drive.google.com/uc?id=1lyGF5Ke37SsVMPPcThBmvCBAAyGCYLaP)

In [40]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name
FROM employees
WHERE department_id IN ( SELECT department_id
                         FROM employees
                         WHERE last_name like '%u%' );

 * mysql+pymysql://francis:***@localhost/hr
96 rows affected.

    employee_id   last_name
0           103      Hunold
1           104       Ernst
2           105      Austin
3           106   Pataballa
4           107     Lorentz
..          ...         ...
91          174        Abel
92          175      Hutton
93          176      Taylor
94          177  Livingston
95          179     Johnson

[96 rows x 2 columns]

**Task 7.3** The HR department needs a report that displays the last name, department number, and job ID of all employees whose department location ID is 1700.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1xFaRQxhRkPmZvd9LTblRFmaWxpZn3J83)

In [41]:
%%sql
# Insert Your Code Here
SELECT last_name, department_id, job_id
FROM employees
WHERE department_id IN ( SELECT department_id
                         FROM departments 
                         WHERE location_id = 1700 );

 * mysql+pymysql://francis:***@localhost/hr
18 rows affected.

     last_name  department_id      job_id
0       Whalen             10     AD_ASST
1     Raphaely             30      PU_MAN
2         Khoo             30    PU_CLERK
3        Baida             30    PU_CLERK
4       Tobias             30    PU_CLERK
5       Himuro             30    PU_CLERK
6   Colmenares             30    PU_CLERK
7         King             90     AD_PRES
8      Kochhar             90       AD_VP
9      De Haan             90       AD_VP
10   Greenberg            100      FI_MGR
11      Faviet            100  FI_ACCOUNT
12        Chen            100  FI_ACCOUNT
13     Sciarra            100  FI_ACCOUNT
14       Urman            100  FI_ACCOUNT
15        Popp            100  FI_ACCOUNT
16     Higgins            110      AC_MGR
17       Gietz            110  AC_ACCOUNT

**Task 7.4** Create a report for HR that displays the last name and salary of every employee who reports to King.

![hr-rl-sm.gif](https://drive.google.com/uc?id=19BGt-2C6DvPY-i0QynNRCUrwX8TE8Dj1)

In [42]:
%%sql
# Insert Your Code Here
SELECT last_name, salary
FROM employees
WHERE manager_id IN ( SELECT employee_id
                      FROM employees
                      WHERE last_name = 'King' );

 * mysql+pymysql://francis:***@localhost/hr
14 rows affected.

    last_name    salary
0     Kochhar  17000.00
1     De Haan  17000.00
2    Raphaely  11000.00
3       Weiss   8000.00
4       Fripp   8200.00
5    Kaufling   7900.00
6     Vollman   6500.00
7     Mourgos   5800.00
8     Russell  14000.00
9    Partners  13500.00
10  Errazuriz  12000.00
11  Cambrault  11000.00
12    Zlotkey  10500.00
13  Hartstein  13000.00

**Task 7.5** Create a report for HR that displays the department number, last name, and job ID for every employee in the Executive department.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1suXfsXKLaP7TVj6UmsQt6mSrT2Ng4YCM)

In [43]:
%%sql
# Insert Your Code Here
SELECT department_id, last_name, job_id
FROM employees
WHERE department_id IN ( SELECT department_id
                         FROM departments
                         WHERE department_name = 'Executive' );

 * mysql+pymysql://francis:***@localhost/hr
3 rows affected.

   department_id last_name   job_id
0             90      King  AD_PRES
1             90   Kochhar    AD_VP
2             90   De Haan    AD_VP

**Task 7.6** Create a report that displays a list of all employees whose salary is more than the salary of any employee from department 60.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1fhQY6pcXvWRofbaWmg6QZo7Aqb2TXAWi)

In [44]:
%%sql
# Insert Your Code Here
SELECT last_name FROM employees
WHERE salary > ANY ( SELECT salary
                     FROM employees
                     WHERE department_id=60 );

 * mysql+pymysql://francis:***@localhost/hr
61 rows affected.

   last_name
0       King
1    Kochhar
2    De Haan
3     Hunold
4      Ernst
..       ...
56       Fay
57    Mavris
58      Baer
59   Higgins
60     Gietz

[61 rows x 1 columns]

##**Lab 8**: Using the Set Operators
In this practice, you create reports by using the following:
- <code>UNION</code> operator
- <code>INTERSECT</code> operator
- <code>EXCEPT</code> operator

In this practice, you write queries using the set operators <code>UNION</code>, <code>INTERSECT</code>, and <code>EXCEPT</code>.

**Task 8.1** The HR department needs a list of department IDs for departments that do not contain the job ID <code>ST_CLERK</code>. Use the set operators to create this report.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1LO_v8kgF0S8UbeNeA5eeUp9LUohseCbJ)

In [45]:
%%sql
# Insert Your Code Here
SELECT department_id
FROM departments
EXCEPT
SELECT department_id 
FROM employees 
WHERE job_id = 'ST_CLERK';

 * mysql+pymysql://francis:***@localhost/hr
26 rows affected.

    department_id
0              60
1              10
2              30
3              90
4             100
..            ...
21            270
22             20
23             40
24             80
25             70

[26 rows x 1 columns]

**Task 8.2** The HR department needs a list of countries that have no departments located in them. Display the country IDs and the names of the countries. Use the set operators to create this report.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1LRHEJ8xyL1l2kZRK52EjKJwZMquAc2ko)

In [46]:
%%sql
# Insert Your Code Here
SELECT country_id, country_name
FROM countries
EXCEPT
SELECT l.country_id, c.country_name
FROM locations l JOIN countries c
ON l.country_id = c.country_id
JOIN departments d
ON d.location_id = l.location_id;

 * mysql+pymysql://francis:***@localhost/hr
21 rows affected.

   country_id country_name
0          AR    Argentina
1          AU    Australia
2          BE      Belgium
3          BR       Brazil
4          CH  Switzerland
5          CN        China
6          DK      Denmark
7          EG        Egypt
8          FR       France
9          HK     HongKong
10         IL       Israel
11         IN        India
12         IT        Italy
13         JP        Japan
14         KW       Kuwait
15         MX       Mexico
16         NG      Nigeria
17         NL  Netherlands
18         SG    Singapore
19         ZM       Zambia
20         ZW     Zimbabwe

**Task 8.3** Produce a list of jobs for departments 10, 50, and 20, in that order. Display the job ID and department ID by using the set operators.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1boH6TdPEif3k3mzWbeiqCTQDxmd3MNN8)

In [47]:
%%sql
# Insert Your Code Here
SELECT distinct job_id, department_id
FROM employees
WHERE department_id = 10
UNION ALL
SELECT DISTINCT job_id, department_id
FROM employees
WHERE department_id = 50
UNION ALL
SELECT DISTINCT job_id, department_id
FROM employees
WHERE department_id = 20;

 * mysql+pymysql://francis:***@localhost/hr
6 rows affected.

     job_id  department_id
0   AD_ASST             10
1    ST_MAN             50
2  ST_CLERK             50
3  SH_CLERK             50
4    MK_MAN             20
5    MK_REP             20

**Task 8.4** Create a report that lists the employee IDs and job IDs of those employees who currently have a job title that is the same as their previous one (that is, they changed jobs but have now gone back to doing the same job they did previously).


![hr-rl-sm.gif](https://drive.google.com/uc?id=1Zyoa2HI8TgeMTWecxsl-3vkhqYD29YVy)

In [48]:
%%sql
# Insert Your Code Here
SELECT employee_id, job_id
FROM employees
INTERSECT
SELECT employee_id, job_id
FROM job_history;

 * mysql+pymysql://francis:***@localhost/hr
2 rows affected.

   employee_id   job_id
0          200  AD_ASST
1          176   SA_REP

**Task 8.5** The HR department needs a report with the following specifications:
- Last names and department IDs of all employees from the <code>employees</code> table,
regardless of whether or not they belong to a department
- Department IDs and department names of all departments from the <code>departments</code>
table, regardless of whether or not they have employees working in them.


![hr-rl-sm.gif](https://drive.google.com/uc?id=1QyBB-otpXkm11XEFdXCJWZB4G1MwUH6L)

In [49]:
%%sql
# Insert Your Code Here
SELECT last_name, department_id, CAST(NULL AS CHAR) AS dept_name
FROM employees
UNION
SELECT CAST(NULL AS CHAR), department_id, department_name
FROM departments;

 * mysql+pymysql://francis:***@localhost/hr
132 rows affected.

    last_name  department_id         dept_name
0        King           90.0              None
1     Kochhar           90.0              None
2     De Haan           90.0              None
3      Hunold           60.0              None
4       Ernst           60.0              None
..        ...            ...               ...
127      None          230.0       IT Helpdesk
128      None          240.0  Government Sales
129      None          250.0      Retail Sales
130      None          260.0        Recruiting
131      None          270.0           Payroll

[132 rows x 3 columns]

##**Lab 9**: Managing Tables Using DML Statements
This practice covers the following topics:
- Inserting rows into tables
- Updating and deleting rows in a table
- Controlling transactions

The HR department wants you to create SQL statements to insert, update, and delete employee data.

**Task 9.1** Create a table callled <code>my_employee</code> table following the specifiction below.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1crmGS6rbj-VfKSndgiSXKAsHK3CbS2yI)

In [50]:
%%sql
# Insert Your Code Here
DROP TABLE IF EXISTS my_employee;
CREATE TABLE my_employee (
    id INT UNSIGNED PRIMARY KEY,
    last_name VARCHAR(25),
    first_name VARCHAR(25),
    userid VARCHAR(8),
    salary DECIMAL(9,2)
);

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.2** Describe the structure of the <code>my_employee</code> table to identify the column names.

In [51]:
%%sql
# Insert Your Code Here
DESCRIBE my_employee;

 * mysql+pymysql://francis:***@localhost/hr
5 rows affected.

        Field          Type Null  Key Default Extra
0          id  int unsigned   NO  PRI    None
1   last_name   varchar(25)  YES         None
2  first_name   varchar(25)  YES         None
3      userid    varchar(8)  YES         None
4      salary  decimal(9,2)  YES         None

**Task 9.3** Create an <code>INSERT</code> statement to add the first row of data to the <code>my_employee</code> table from the following sample data. Do not list the columns in the <code>INSERT</code> clause. *Do not enter all rows yet.*

![hr-rl-sm.gif](https://drive.google.com/uc?id=18P-spYgHY90XjsycdgzRvh3-GAy-ynzB)

In [52]:
%%sql
# Insert Your Code Here
INSERT INTO my_employee
VALUES (1, 'Newton', 'Isaac', 'inewton', 886);

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.4** Populate the <code>MY_EMPLOYEE</code> table with the second row of the sample data from the preceding list. This time, list the columns explicitly in the INSERT clause.

In [53]:
%%sql
# Insert Your Code Here
INSERT INTO my_employee (id, last_name, first_name, userid, salary)
VALUES (2, 'Boyld', 'Stephen', 'sboyld', 850);

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.5** Confirm your addition to the table.

![hr-rl-sm.gif](https://drive.google.com/uc?id=18iNa3cFtj1-gH2cMAen5B3cOczh4NCoj)

In [54]:
%%sql
# Insert Your Code Here
SELECT *
FROM my_employee;

 * mysql+pymysql://francis:***@localhost/hr
2 rows affected.

   id last_name first_name   userid  salary
0   1    Newton      Isaac  inewton  886.00
1   2     Boyld    Stephen   sboyld  850.00

**Task 9.6** Write an <code>INSERT</code> statement to load the remaining rows into the <code>my_employee</code> table.

In [55]:
%%sql
# Insert Your Code Here
INSERT INTO my_employee (id, last_name, first_name, userid, salary)
VALUES (3, 'Bush', 'Collin', 'cbush', 1150),
       (4, 'Sunak', 'Rikki', 'rsunak', 750),
       (5, 'Euler', 'Leonard', 'leuler', 1600);

 * mysql+pymysql://francis:***@localhost/hr
3 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.7** Make the data additions permanent. Confirm  your addition to the table.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1zn3iztWf7DMl6YNA0vQDrZZm0yVs89XQ)

In [56]:
%%sql
# Insert Your Code Here
COMMIT;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [57]:
%%sql
# Insert Your Code Here
SELECT *
FROM my_employee;

 * mysql+pymysql://francis:***@localhost/hr
5 rows affected.

   id last_name first_name   userid   salary
0   1    Newton      Isaac  inewton   886.00
1   2     Boyld    Stephen   sboyld   850.00
2   3      Bush     Collin    cbush  1150.00
3   4     Sunak      Rikki   rsunak   750.00
4   5     Euler    Leonard   leuler  1600.00

**Task 9.8** Update and delete data in the <code>my_employee</code> table. Change the last name of employee 4 to Johnson.

In [58]:
%%sql
# Insert Your Code Here
UPDATE my_employee
SET last_name = 'Johnson'
WHERE id = 4;

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.9** Change the salary to \$1,000 for all employees who have a salary less than \$900.

In [59]:
%%sql
# Insert Your Code Here
UPDATE my_employee
SET salary = 1000
WHERE salary < 900;

 * mysql+pymysql://francis:***@localhost/hr
3 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.10** . Verify your changes to the table.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1QeiGz5E42bYS3Xjxosr9-cjAaXhGaelH)

In [60]:
%%sql
# Insert Your Code Here
SELECT *
FROM my_employee;

 * mysql+pymysql://francis:***@localhost/hr
5 rows affected.

   id last_name first_name   userid   salary
0   1    Newton      Isaac  inewton  1000.00
1   2     Boyld    Stephen   sboyld  1000.00
2   3      Bush     Collin    cbush  1150.00
3   4   Johnson      Rikki   rsunak  1000.00
4   5     Euler    Leonard   leuler  1600.00

**Task 9.11** Delete Isaac Newton from the <code>my_employee</code> table.

In [61]:
%%sql
# Insert Your Code Here
DELETE FROM my_employee
WHERE last_name = 'Newton';

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.12** Confirm your changes to the table.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1ATgGpKeAIuc2Wi8Gytg2fkcPpktnt3r6)

In [62]:
%%sql
# Insert Your Code Here
SELECT *
FROM my_employee;

 * mysql+pymysql://francis:***@localhost/hr
4 rows affected.

   id last_name first_name  userid   salary
0   2     Boyld    Stephen  sboyld  1000.00
1   3      Bush     Collin   cbush  1150.00
2   4   Johnson      Rikki  rsunak  1000.00
3   5     Euler    Leonard  leuler  1600.00

**Task 9.13** Make the change permanent.

In [63]:
%%sql
# Insert Your Code Here
COMMIT;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 9.14** Control the data transaction to the my_employee table by using <code>TRANSACTION</code> block, <code>SAVEPOINT</code> and <code>ROLLBACK</code>.
<pre>
START TRANSACTION;
SAVEPOINT sp;
INSERT INTO my_employee VALUES (1, 'Newton', 'Isaac', 'inewton', 886);
ROLLBACK TO SAVEPOINT sp;
</pre>

In [64]:
%%writefile ./transaction_block.sql
START TRANSACTION;
SAVEPOINT sp;
INSERT INTO my_employee VALUES (1, 'Newton', 'Isaac', 'inewton', 886);
ROLLBACK TO SAVEPOINT sp;

Writing ./transaction_block.sql

In [65]:
# Insert Your Code Here
# mysql> SOURCE transaction_block.sql
!mysql hr < ./transaction_block.sql

**Task 9.15** Confirm the change has been reversed.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1j8O3VpMU7acjx702vU3vrFQKJIaVRzKZ)

In [66]:
%%sql
# Insert Your Code Here
SELECT *
FROM my_employee;

 * mysql+pymysql://francis:***@localhost/hr
4 rows affected.

   id last_name first_name  userid   salary
0   2     Boyld    Stephen  sboyld  1000.00
1   3      Bush     Collin   cbush  1150.00
2   4   Johnson      Rikki  rsunak  1000.00
3   5     Euler    Leonard  leuler  1600.00

**Task 9.13** Drop the <code>my_employee</code> table, and confirm the table was dropped. Confirm the table was dropped.

In [67]:
%%sql
# Insert Your Code Here
DROP TABLE IF EXISTS my_employee;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [68]:
%%sql
# Insert Your Code Here
SHOW TABLES;

 * mysql+pymysql://francis:***@localhost/hr
8 rows affected.

       Tables_in_hr
0         countries
1       departments
2  emp_details_view
3         employees
4       job_history
5              jobs
6         locations
7           regions

##**Lab 10**: Data Definition Language (DDL)
This practice covers the following topics:
- Creating new tables
- Creating a new table by using the <code>CREATE TABLE AS</code> syntax
- Verifying that tables exist
- Altering tables
- Adding columns
- Dropping columns
- Setting a table to read-only status
- Dropping tables

Create new tables by using the <code>CREATE TABLE</code> statement. Confirm that the new table was
added to the database. You also learn to set the status of a table as <code>READ ONLY</code>, and then
revert to <code>READ/WRITE</code>. You use the <code>ALTER TABLE</code> command to modify table columns.

**Task 10.1** Create the <code>dept</code> table based on the following table instance chart. Execute the statement in the script to create the
table. Confirm that the table is created.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1osJcrerBWa4KVGC0C48w6bhDdPBk7Yqe)

In [69]:
%%sql
# Insert Your Code Here
DROP TABLE IF EXISTS dept; 
CREATE TABLE dept (
    id INT(7),
    name VARCHAR(25),
    CONSTRAINT department_id_pk PRIMARY KEY (id)
);

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [70]:
%%sql
# Insert Your Code Here
DESCRIBE dept;

 * mysql+pymysql://francis:***@localhost/hr
2 rows affected.

  Field         Type Null  Key Default Extra
0    id          int   NO  PRI    None
1  name  varchar(25)  YES         None

**Task 10.2** Create the <code>emp</code> table based on the following table instance chart. Execute the statement in the script to create the table. Confirm that the table is created.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1P4anm5udxMkRBYjl6-fUTYqtblf5U-pt)

In [71]:
%%sql
# Insert Your Code Here
DROP TABLE IF EXISTS emp;
CREATE TABLE emp (
    id INT(7),
    last_name VARCHAR(25),
    first_name VARCHAR(25),
    dept_id INT(7),
    CONSTRAINT emp_dept_id_FK FOREIGN KEY (dept_id) REFERENCES dept (id)
);

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [72]:
%%sql
# Insert Your Code Here
DESCRIBE emp;

 * mysql+pymysql://francis:***@localhost/hr
4 rows affected.

        Field         Type Null  Key Default Extra
0          id          int  YES         None
1   last_name  varchar(25)  YES         None
2  first_name  varchar(25)  YES         None
3     dept_id          int  YES  MUL    None

**Task 10.3** Modify the <code>emp</code> table. Add a <code>commission</code> column of the <code>DECIMAL</code> data type, with precision 2
and scale 2. Confirm your modification.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1Tzw1qXsNDDAKIkBYUdVY1dWNHXBzX_i9)

In [73]:
%%sql
# Insert Your Code Here
ALTER TABLE emp ADD commission DECIMAL(2,2);

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [74]:
%%sql
# Insert Your Code Here
DESCRIBE emp;

 * mysql+pymysql://francis:***@localhost/hr
5 rows affected.

        Field          Type Null  Key Default Extra
0          id           int  YES         None
1   last_name   varchar(25)  YES         None
2  first_name   varchar(25)  YES         None
3     dept_id           int  YES  MUL    None
4  commission  decimal(2,2)  YES         None

**Task 10.4** Modify the emp table to allow for longer employee last names. Confirm your modification.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1K2sKSgfuG5vGbk0D6h6UEz6C0py-vE38)

In [75]:
%%sql
# Insert Your Code Here
ALTER TABLE emp MODIFY last_name VARCHAR(50);

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [76]:
%%sql
# Insert Your Code Here
DESCRIBE emp;

 * mysql+pymysql://francis:***@localhost/hr
5 rows affected.

        Field          Type Null  Key Default Extra
0          id           int  YES         None
1   last_name   varchar(50)  YES         None
2  first_name   varchar(25)  YES         None
3     dept_id           int  YES  MUL    None
4  commission  decimal(2,2)  YES         None

**Task 10.5** Drop the <code>first_name</code> column from the <code>emp</code> table. Confirm your modification by checking the description of the table.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1RfZyDgKKoer6Otm0ZsmARPwGnRephF5r)

In [77]:
%%sql
# Insert Your Code Here
ALTER TABLE emp DROP COLUMN first_name;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [78]:
%%sql
# Insert Your Code Here
DESCRIBE emp;

 * mysql+pymysql://francis:***@localhost/hr
4 rows affected.

        Field          Type Null  Key Default Extra
0          id           int  YES         None
1   last_name   varchar(50)  YES         None
2     dept_id           int  YES  MUL    None
3  commission  decimal(2,2)  YES         None

**Task 10.6** Create the </code>employee2</code> table based on the structure of the <code>employees</code> table. Include only the <code>employee_id</code>, <code>first_name</code>, <code>last_name</code>, <code>salary</code>, and <code>department_id</code> columns. Name the columns in your new table <code>id</code>, <code>first_name</code>, <code>last_name</code>, <code>SALARY</code>, and <code>dept_id</code>, respectively.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1MK57dhqzWHv-WjnD7t0UJFIEckDzZdh4)

In [79]:
%%sql
# Insert Your Code Here
DROP TABLE IF EXISTS employee2;
CREATE TABLE employees2 AS
SELECT employee_id id, first_name, last_name, salary, department_id dept_id
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.
107 rows affected.

Empty DataFrame
Columns: []
Index: []

In [80]:
%%sql
# Insert Your Code Here
DESCRIBE employees2

 * mysql+pymysql://francis:***@localhost/hr
5 rows affected.

        Field          Type Null Key Default Extra
0          id  int unsigned   NO        None
1  first_name   varchar(20)  YES        None
2   last_name   varchar(25)   NO        None
3      salary  decimal(8,2)   NO        None
4     dept_id  int unsigned  YES        None

**Task 10.7** Drop the <code>my_employee</code>, <code>emp</code>, <code>dept</code>, and <code>employee2</code> table. Confirm the tables were dropped.

In [81]:
%%sql
# Insert Your Code Here
DROP TABLE IF EXISTS my_employee;
DROP TABLE IF EXISTS emp;
DROP TABLE IF EXISTS dept;
DROP TABLE IF EXISTS employees2;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [82]:
%%sql
# Insert Your Code Here
SHOW TABLES;

 * mysql+pymysql://francis:***@localhost/hr
8 rows affected.

       Tables_in_hr
0         countries
1       departments
2  emp_details_view
3         employees
4       job_history
5              jobs
6         locations
7           regions

##**Lab 11**: Creating Views
This practice covers the following topics:
- Creating a simple view
- Creating a complex view
- Creating a view with a check constraint
- Attempting to modify data in the view
- Querying the dictionary views for view information
- Removing views

**Task 11.1** The staff in the HR department wants to hide some of the data in the <code>employees</code> table. Create a view called <code>employees_vw</code> based on the employee numbers, employee last names, and department numbers from the <code>employees</code> table. The heading for the
employee name should be <code>employee</code>.

In [83]:
%%sql
# Insert Your Code Here
CREATE OR REPLACE VIEW employees_vw AS
SELECT employee_id, last_name AS employee, department_id
FROM employees;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 11.2** Confirm that the view works. Display the contents of the <code>employees_vw</code> view.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1ikRx9DlY7hExvRp4a3SvsL7KZXFKrBk2)

In [84]:
%%sql
# Insert Your Code Here
SELECT *
FROM employees_vw;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

     employee_id employee  department_id
0            100     King           90.0
1            101  Kochhar           90.0
2            102  De Haan           90.0
3            103   Hunold           60.0
4            104    Ernst           60.0
..           ...      ...            ...
102          202      Fay           20.0
103          203   Mavris           40.0
104          204     Baer           70.0
105          205  Higgins          110.0
106          206    Gietz          110.0

[107 rows x 3 columns]

**Task 11.3** Using your <code>employees_vw</code> view, write a query for the HR department to display all employee names and department numbers.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1NIyw80Sguiui0E5SDcP73KGrfCF0hAaM)

In [85]:
%%sql
# Insert Your Code Here
SELECT employee, department_id
FROM employees_vw;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

    employee  department_id
0       King           90.0
1    Kochhar           90.0
2    De Haan           90.0
3     Hunold           60.0
4      Ernst           60.0
..       ...            ...
102      Fay           20.0
103   Mavris           40.0
104     Baer           70.0
105  Higgins          110.0
106    Gietz          110.0

[107 rows x 2 columns]

**Task 11.4** Department 80 needs access to its employee data. Create a view named <code>dept80</code> that contains the employee numbers, employee last names, and department numbers for all employees in department 80. They have requested that you label the view columns <code>empno</code>,
<code>employee</code> and <code>depno</code>. For security purposes, do not allow an employee to be reassigned to another department through the view.

In [86]:
%%sql
# Insert Your Code Here
CREATE VIEW dept80 AS
SELECT employee_id AS empno, last_name AS employee, department_id AS deptno
FROM employees
WHERE department_id = 80
WITH CHECK OPTION;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.

Empty DataFrame
Columns: []
Index: []

**Task 11.5** Display the structure and contents of the <code>dept80</code> view.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1wPlmKDWzRwVV8JXlCZyXdswq3KYO1bqA)

![hr-rl-sm.gif](https://drive.google.com/uc?id=1PRtFcge2Jn19pJDeZ1vhZXwefTmoDTXG)

In [87]:
%%sql
# Insert Your Code Here
DESCRIBE dept80;

 * mysql+pymysql://francis:***@localhost/hr
3 rows affected.

      Field          Type Null Key Default Extra
0     empno  int unsigned   NO        None
1  employee   varchar(25)   NO        None
2    deptno  int unsigned  YES        None

In [88]:
%%sql
# Insert Your Code Here
SELECT *
FROM dept80;

 * mysql+pymysql://francis:***@localhost/hr
34 rows affected.

    empno    employee  deptno
0     145     Russell      80
1     146    Partners      80
2     147   Errazuriz      80
3     148   Cambrault      80
4     149     Zlotkey      80
..    ...         ...     ...
29    174        Abel      80
30    175      Hutton      80
31    176      Taylor      80
32    177  Livingston      80
33    179     Johnson      80

[34 rows x 3 columns]

**Task 11.6** Test your view. Attempt to reassign <code>Abel</code> to department 50. The error is because the <code>dept50</code> view has been created with the WITH <code>CHECK OPTION</code> constraint. This ensures that the <code>depno</code> column in the view is protected from being changed.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1wBXmJceA6oZlJsuHbHZ9deAfTNX4fnJH)

In [89]:
%%sql
# Insert Your Code Here
UPDATE dept80
SET deptno = 50
WHERE employee = 'Abel';

 * mysql+pymysql://francis:***@localhost/hr
(pymysql.err.OperationalError) (1369, "CHECK OPTION failed 'hr.dept80'")
[SQL: # Insert Your Code Here
UPDATE dept80
SET deptno = 50
WHERE employee = 'Abel';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

**Task 11.7** Remove the views created in this practice. Confirm if the views have been removed.

In [90]:
%%sql
# Insert Your Code Here
DROP VIEW employees_vw;
DROP VIEW dept80;

 * mysql+pymysql://francis:***@localhost/hr
0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [91]:
%%sql
# Insert Your Code Here
SHOW TABLES;

 * mysql+pymysql://francis:***@localhost/hr
8 rows affected.

       Tables_in_hr
0         countries
1       departments
2  emp_details_view
3         employees
4       job_history
5              jobs
6         locations
7           regions

##**Lab 12**: Retrieving Data by Using Subqueries
This practice covers the following topics:
- Creating multiple-column subqueries
- Writing correlated subqueries
- Using the <code>EXISTS</code> operator
- Using scalar subqueries
- Using the <code>WITH</code> clause

**Task 12.1** Write a query to display the last name, department number, and salary of any employee whose department number and salary both match the department number and salary of any employee who earns a commission.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1W9MCup-0A3SrmOtMbmLk6lQGtQGDzO1S)

In [92]:
%%sql
# Insert Your Code Here
SELECT last_name, department_id, salary
FROM employees
WHERE (salary, department_id) IN (SELECT salary, department_id
                                  FROM employees
                                  WHERE commission_pct IS NOT NULL );

 * mysql+pymysql://francis:***@localhost/hr
34 rows affected.

     last_name  department_id    salary
0      Russell             80  14000.00
1     Partners             80  13500.00
2    Errazuriz             80  12000.00
3    Cambrault             80  11000.00
4      Zlotkey             80  10500.00
..         ...            ...       ...
29        Abel             80  11000.00
30      Hutton             80   8800.00
31      Taylor             80   8600.00
32  Livingston             80   8400.00
33     Johnson             80   6200.00

[34 rows x 3 columns]

**Task 12.2** Display the last name, department name, and salary of any employee whose salary and <code>job_id</code> match the salary and job_ID of any employee located in location ID 1700.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1KaGyD5dNRgedEOhh465XGxmxs2GBqLqd)

In [93]:
%%sql
# Insert Your Code Here
SELECT e.last_name, d.department_name, e.salary
FROM employees e 
JOIN departments d 
ON e.department_id = d.department_id 
AND (salary, job_id) IN ( SELECT e.salary, e.job_id
                          FROM employees e 
                          JOIN departments d
                          ON e.department_id = d.department_id
                          AND d.location_id = 1700 );

 * mysql+pymysql://francis:***@localhost/hr
18 rows affected.

     last_name department_name    salary
0         King       Executive  24000.00
1      Kochhar       Executive  17000.00
2      De Haan       Executive  17000.00
3    Greenberg         Finance  12000.00
4       Faviet         Finance   9000.00
5         Chen         Finance   8200.00
6      Sciarra         Finance   7700.00
7        Urman         Finance   7800.00
8         Popp         Finance   6900.00
9     Raphaely      Purchasing  11000.00
10        Khoo      Purchasing   3100.00
11       Baida      Purchasing   2900.00
12      Tobias      Purchasing   2800.00
13      Himuro      Purchasing   2600.00
14  Colmenares      Purchasing   2500.00
15      Whalen  Administration   4400.00
16     Higgins      Accounting  12000.00
17       Gietz      Accounting   8300.00

**Task 12.3** Create a query to display the last name, hire date, and salary for all employees who have the same salary and <code>manager_id</code> as <code>Kochhar</code>.

Note: Do not display <code>Kochhar</code> in the result set.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1Vw_PbSRY7UX_QMeTGyYFPvZShSDEudM3)

In [94]:
%%sql
# Insert Your Code Here
SELECT last_name, hire_date, salary
FROM employees
WHERE (salary, manager_id) IN ( SELECT salary, manager_id
                                FROM employees
                                WHERE last_name = 'Kochhar' )
AND last_name != 'Kochhar';

 * mysql+pymysql://francis:***@localhost/hr
1 rows affected.

  last_name   hire_date    salary
0   De Haan  1993-01-13  17000.00

**Task 12.4** Create a query to display the employees who earn a salary that is higher than the salary of all the sales managers (<code>JOB_ID = 'SA_MAN'</code>). Sort the results on salary from the highest to the lowest.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1PU560ftaHz6EsDtcS3n-v7mor8kXpQb6)

In [95]:
%%sql
# Insert Your Code Here
SELECT last_name, job_id, salary
FROM employees
WHERE salary > ALL ( SELECT salary
                     FROM employees
                     WHERE job_id = 'SA_MAN' )
ORDER BY salary DESC;

 * mysql+pymysql://francis:***@localhost/hr
3 rows affected.

  last_name   job_id    salary
0      King  AD_PRES  24000.00
1   Kochhar    AD_VP  17000.00
2   De Haan    AD_VP  17000.00

**Task 12.5** Display details such as the employee ID, last name, and department ID of those employees who live in cities the names of which begin with <code>T</code>.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1p3ubDNkUeeYf614BChU2319Fz1gz1O5V)

In [96]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name, department_id
FROM employees
WHERE department_id IN ( SELECT department_id
                         FROM departments 
                         WHERE location_id IN ( SELECT location_id
                                                FROM locations
                                                WHERE city LIKE 'T%' )
                       );

 * mysql+pymysql://francis:***@localhost/hr
2 rows affected.

   employee_id  last_name  department_id
0          201  Hartstein             20
1          202        Fay             20

**Task 12.6** Write a query to find all employees who earn more than the average salary in their departments. Display last name, salary, department ID, and the average salary for the department. Sort by average salary and round to two decimals. Use aliases for the columns retrieved by the query as shown in the sample output.

![hr-rl-sm.gif](https://drive.google.com/uc?id=10G2EzeADo2oE88N2xvBGwyInGuTuZYEH)

In [97]:
%%sql
# Insert Your Code Here
SELECT e.last_name AS ename, e.salary AS salary,
       e.department_id AS deptno, ROUND(AVG(a.salary),2) AS dept_avg
FROM employees e, employees a
WHERE e.department_id = a.department_id
AND e.salary > ( SELECT AVG(salary)
                 FROM employees
                 WHERE department_id = e.department_id )
GROUP BY e.last_name, e.salary, e.department_id
ORDER BY AVG(a.salary);

 * mysql+pymysql://francis:***@localhost/hr
38 rows affected.

        ename    salary  deptno  dept_avg
0    Sarchand   4200.00      50   3475.56
1        Bull   4100.00      50   3475.56
2       Chung   3800.00      50   3475.56
3       Dilly   3600.00      50   3475.56
4       Weiss   8000.00      50   3475.56
..        ...       ...     ...       ...
33   Partners  13500.00      80   8955.88
34    Russell  14000.00      80   8955.88
35  Hartstein  13000.00      20   9500.00
36    Higgins  12000.00     110  10150.00
37       King  24000.00      90  19333.33

[38 rows x 4 columns]

**Task 12.7** Find all employees who are not supervisors.
- First, do this by using the NOT EXISTS operator.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1xkZ2jD9nKO8Ag3xXTh_9InPvNZvo9XlS)

In [98]:
%%sql
# Insert Your Code Here
SELECT o.last_name
FROM employees o
WHERE NOT EXISTS ( SELECT 'X'
                   FROM employees i
                   WHERE i.manager_id = o.employee_id );

 * mysql+pymysql://francis:***@localhost/hr
89 rows affected.

    last_name
0       Ernst
1      Austin
2   Pataballa
3     Lorentz
4      Faviet
..        ...
84     Whalen
85        Fay
86     Mavris
87       Baer
88      Gietz

[89 rows x 1 columns]

- Can this be done by using the NOT IN operator? How, or why not?

![hr-rl-sm.gif](https://drive.google.com/uc?id=1Ogn4fc3e-QyVnusf22KQLn2d-8_uL5-e)

In [99]:
%%sql
# Insert Your Code Here
SELECT o.last_name
FROM employees o
WHERE o.employee_id NOT IN ( SELECT i.manager_id
                             FROM employees i
                             WHERE i.manager_id IS NOT NULL );

 * mysql+pymysql://francis:***@localhost/hr
89 rows affected.

    last_name
0       Ernst
1      Austin
2   Pataballa
3     Lorentz
4      Faviet
..        ...
84     Whalen
85        Fay
86     Mavris
87       Baer
88      Gietz

[89 rows x 1 columns]

**Task 12.8** Write a query to display the last names of the employees who earn less than the average salary in their departments.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1a3fzbx7ENlNiXxzKvoo5zHp7y-smC7tv)

In [100]:
%%sql
# Insert Your Code Here
SELECT last_name
FROM employees o
WHERE o.salary < ( SELECT AVG(i.salary)
                   FROM employees i
                   WHERE i.department_id = o.department_id );

 * mysql+pymysql://francis:***@localhost/hr
65 rows affected.

    last_name
0     Kochhar
1     De Haan
2      Austin
3   Pataballa
4     Lorentz
..        ...
60     Feeney
61   OConnell
62      Grant
63        Fay
64      Gietz

[65 rows x 1 columns]

**Task 12.9** Write a query to display the last names of employees who have one or more coworkers in their departments with later hire dates but higher salaries.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1TU42V2wmlkyDAKvKb8DHqouOvUIOAcl3)

In [101]:
%%sql
# Insert Your Code Here
SELECT last_name
FROM employees o
WHERE EXISTS ( SELECT 'X'
               FROM employees i
               WHERE i.department_id = o.department_id
               AND i.hire_date > o.hire_date
               AND i.salary > o.salary );

 * mysql+pymysql://francis:***@localhost/hr
66 rows affected.

   last_name
0     Faviet
1    Sciarra
2     Tobias
3      Weiss
4   Kaufling
..       ...
61     Jones
62     Walsh
63    Feeney
64  OConnell
65     Grant

[66 rows x 1 columns]

**Task 12.10** Write a query to display the employee ID, last names, and department names of all employees.

![hr-rl-sm.gif](https://drive.google.com/uc?id=1E5AvzSRVMKXArDN1Zj7ayREoz2-GU6W5)

In [102]:
%%sql
# Insert Your Code Here
SELECT employee_id, last_name, 
       ( SELECT department_name
         FROM departments d
         WHERE e.department_id = d.department_id ) AS department
FROM employees e
ORDER BY department;

 * mysql+pymysql://francis:***@localhost/hr
107 rows affected.

     employee_id last_name      department
0            178     Grant            None
1            205   Higgins      Accounting
2            206     Gietz      Accounting
3            200    Whalen  Administration
4            100      King       Executive
..           ...       ...             ...
102          195     Jones        Shipping
103          196     Walsh        Shipping
104          197    Feeney        Shipping
105          198  OConnell        Shipping
106          199     Grant        Shipping

[107 rows x 3 columns]

**Task 12.11** Write a query to display the department names of those departments whose total salary cost is above one-eighth (1/8) of the total salary cost of the whole company. Use the <code>WITH</code> clause to write this query.

![hr-rl-sm.gif](https://drive.google.com/uc?id=12xS3asVbXZUaF-VPgsF8nhMoXd6A0L3r)

In [103]:
%%sql
# Insert Your Code Here
WITH summary AS ( SELECT d.department_name, SUM(e.salary) AS dept_total
                  FROM employees e 
                  JOIN departments d
                  ON e.department_id = d.department_id
                  GROUP BY d.department_name
                )

SELECT department_name, dept_total
FROM summary
WHERE dept_total > ( SELECT SUM(dept_total) * 1/8
                     FROM summary )
ORDER BY dept_total DESC;

 * mysql+pymysql://francis:***@localhost/hr
2 rows affected.

  department_name dept_total
0           Sales  304500.00
1        Shipping  156400.00