<a href="https://colab.research.google.com/github/sreent/data-management-intro/blob/main/Nutrition%20Facts%20-%20Ingestion%20using%20SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nutrition Facts**: SQL based Data Ingestion

##Setting Up MySQL Environment

In [1]:
# install and start mysql server
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!/etc/init.d/mysql restart > /dev/null

# enable data loading from a csv file into a table, only required for colab 
!echo -e "[mysqld]\nsecure_file_priv = \"\"" >> /etc/my.cnf
!/etc/init.d/mysql restart > /dev/null
!mysql -e "SET GLOBAL local_infile=true;"

# mount gdrive, required for downloaded dataset (or sql data dump)
import os
from google.colab import drive
drive.mount("/content/drive")

# install sql magic, required for running sql commands in jupyter notebook
!pip install -q ipython-sql
# install mysql python connector
!pip install -q pymysql mysql-connector-python mysqlclient
# install sqlalchemy
!pip install -q sqlalchemy==1.4.4

# enable sql magic in the notebook
%reload_ext sql

# queries are returned in the pandas format 
%config SqlMagic.autopandas=True

import pandas as pd
# maximum # of rows to be rendered
pd.set_option('display.max_rows', 25)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

su: warning: cannot change directory to /nonexistent: No such file or directory
su: warning: cannot change directory to /nonexistent: No such file or directory
Mounted at /content/drive
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 1.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 53.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 9.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysqlclient (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 51.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for sqlalchemy (setup.py) ... done

##Repository Structure and Environment Parameters

In [2]:
# project name
os.environ["PROJECT_NAME"] = "nutrition-facts"

# set folder paths in gdrive for the coursework
os.environ["CODER_HOME"] = "/content"
os.environ["PROJECTS"] = os.getenv("CODER_HOME") + "/project"
os.environ["PROJECT_HOME"] = os.getenv("PROJECTS") + "/" + os.getenv("PROJECT_NAME")
os.environ["DATA_PATH"] = os.getenv("PROJECT_HOME") + "/data"
os.environ["SCRIPT_PATH"] = os.getenv("PROJECT_HOME") + "/scripts"

# heirachically create project folders in local if not exist
!mkdir -p $CODER_HOME
!mkdir -p $PROJECTS
!mkdir -p $PROJECT_HOME
!mkdir -p $DATA_PATH
!mkdir -p $SCRIPT_PATH

# set folder paths on gdrive for the coursework
os.environ["GD_COURSE_HOME"] = "/content/drive/MyDrive/databases"
os.environ["GD_PROJECT_HOME"] = os.getenv("GD_COURSE_HOME") + "/" + os.getenv("PROJECT_NAME")
os.environ["GD_DATA_PATH"] = os.getenv("GD_PROJECT_HOME") + "/data"
os.environ["GD_SCRIPT_PATH"] = os.getenv("GD_PROJECT_HOME") + "/scripts"

# heirachically create project folders in gdrive if not exist
!mkdir -p $GD_COURSE_HOME
!mkdir -p $GD_PROJECT_HOME 
!mkdir -p $GD_DATA_PATH 
!mkdir -p $GD_SCRIPT_PATH


os.environ["DATABASE_NAME"] = "nutrition"

os.environ["MYSQL_USER_NAME"] = "francis"
os.environ["MYSQL_USER_PASSWORD"] = "california"

#####Verify the project folders are created both in local and GDrive.

In [3]:
!ls -d $PROJECT_HOME/*

/content/project/nutrition-facts/data  /content/project/nutrition-facts/scripts

In [4]:
!ls -d $GD_PROJECT_HOME/*

/content/drive/MyDrive/databases/nutrition-facts/data
/content/drive/MyDrive/databases/nutrition-facts/datamcdonalds-nutrition-facts.csv
/content/drive/MyDrive/databases/nutrition-facts/images
/content/drive/MyDrive/databases/nutrition-facts/scripts

#####To ease code transfer, we create a symbolic link between the HOME folders of Google Colab and Coursera Lab environments, which are <code>/content</code> and <code>/home/coder</code>, respectively

In [5]:
!ln -s /content /home/coder

Verify the symlink is created correctly.

In [6]:
!ls /content

drive  project	sample_data

In [7]:
!ls /home/coder

drive  project	sample_data

##Dataset: McDonald's Nutrition Facts
This dataset provides a nutrition analysis of every menu item on the US McDonald's menu, including breakfast, beef burgers, chicken and fish sandwiches, fries, salads, soda, coffee and tea, milkshakes, and desserts. The dataset is open and publicly accesible on Kaggle, https://www.kaggle.com/datasets/mcdonalds/nutrition-facts.

The dataset was downloaded and shared through a Google Drive URL. We download the file and place it in our GDrive, which will subsequently be used for normalisation and data ingestion.

In [68]:
# set path for our data file 
os.environ["SRC_FILE_NAME"] = "mcdonalds-nutrition-facts.csv"

# download data file and save it to your local.
# in case of McDonald's Nutrition Facts, the csv file can be downloaded either from GitHub or MS Teams CM3010 Channel

# upload the csv data to GDRIVE and place inside GD_PROJECT_HOME/data folder.
# in case of McDonald's Nutrition Facts, it will be at databases/nutrition-facts/data

##ER Diagram and Relational Schema

##Data Cleaning

In [10]:
import pandas as pd
pd.options.mode.chained_assignment = None 

SRC_FILE_PATH = os.getenv("GD_DATA_PATH") + "/" + os.getenv("SRC_FILE_NAME")
DATA_PATH = os.getenv("DATA_PATH")
SCRIPT_PATH = os.getenv("SCRIPT_PATH")

DATABASE_NAME = os.getenv("DATABASE_NAME")
MYSQL_USER_NAME = os.getenv("MYSQL_USER_NAME")
MYSQL_USER_PASSWORD = os.getenv("MYSQL_USER_PASSWORD")

df = pd.read_csv(SRC_FILE_PATH)
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [11]:
df.columns

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'Total Fat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [12]:
columns = [column for column in df.columns if "% Daily Value" not in column]

df = df[columns]
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Carbohydrates,Dietary Fiber,Sugars,Protein
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,5.0,0.0,260,750,31,4,3,17
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,3.0,0.0,25,770,30,4,3,18
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,8.0,0.0,45,780,29,4,2,14
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,10.0,0.0,285,860,30,4,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,8.0,0.0,50,880,30,4,2,21

In [13]:
df["Serving Size"] = df["Serving Size"].apply(lambda x: x.split("(")[-1].split(" ")[0])

df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Carbohydrates,Dietary Fiber,Sugars,Protein
0,Breakfast,Egg McMuffin,136,300,120,13.0,5.0,0.0,260,750,31,4,3,17
1,Breakfast,Egg White Delight,135,250,70,8.0,3.0,0.0,25,770,30,4,3,18
2,Breakfast,Sausage McMuffin,111,370,200,23.0,8.0,0.0,45,780,29,4,2,14
3,Breakfast,Sausage McMuffin with Egg,161,450,250,28.0,10.0,0.0,285,860,30,4,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,161,400,210,23.0,8.0,0.0,50,880,30,4,2,21

In [14]:
# save the clean data to a csv file for data loading and ingestion 
df.to_csv(f"{DATA_PATH}/dnorm-data.csv", index=False)

# only in Colab, the csv files must be readable for group and other 
# required for MySQL LOAD DATA INFILE
!chmod g+r,o+r $DATA_PATH/*.csv

Our data does not contain unit information for the nutrients. Hence, we will need to augment the associated units, which can be found in McDonald's *Nutrition Calculator* page, https://www.mcdonalds.com.sg/nutrition-calculator.

In [15]:
UNITS = {
    "Serving Size": "g", "Calories": "kcal", "Calories from Fat": "kcal", 
    "Saturated Fat": "g", "Trans Fat": "g", "Cholesterol": "mg", 
    "Sodium": "mg", "Carbohydrates": "g", "Dietary Fiber": "g", 
    "Sugars": "g", "Protein": "g"
}

##Setting Up Database and User Creation (required for Web App)

In [1]:
%%writefile $SCRIPT_PATH/setup-database.sql
/* create a project database, and drop it first if it already exists */
DROP DATABASE IF EXISTS nutrition;
CREATE DATABASE nutrition;

/* create a database user, called francis, and drop it first if it already exists */
DROP USER IF EXISTS 'francis'@'%';
CREATE USER 'francis'@'%' IDENTIFIED WITH mysql_native_password BY 'california';

/* grant user access to the project data, which was created earlier */
GRANT ALL ON nutrition.* TO 'francis'@'%';

/* only for running in colab, grant user francis to server related configuration */   
GRANT SELECT ON mysql.* TO 'francis'@'%';

Writing $SCRIPT_PATH/setup-database.sql

FileNotFoundError: ignored

We run a SQL script, <code>setup-database.sql</code>, to create data, user and then grant the user access to the database. This way, it is easier for us to make changes to the code and just re-run the script without having to exhausively re-type in the shell.

In [17]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/setup-database.sql

Alternatively, in <code>MySQL shell</code>, we can also load the SQL script using
```shell
SOURCE /home/coder/project/nutrition-facts/scripts/setup-database.sql
```

Only for Colab, we create a MySQL connection, which is required by Jupyter SQL magic.

In [18]:
connection = f"mysql+pymysql://{MYSQL_USER_NAME}:{MYSQL_USER_PASSWORD}@localhost/{DATABASE_NAME}"
%sql $connection

Verify the database and user are created as expected.

In [19]:
%%sql
SHOW DATABASES;

 * mysql+pymysql://francis:***@localhost/nutrition
4 rows affected.

             Database
0  information_schema
1               mysql
2           nutrition
3  performance_schema

In [20]:
%%sql
SELECT user, host
FROM mysql.user;

 * mysql+pymysql://francis:***@localhost/nutrition
6 rows affected.

               user       host
0           francis          %
1  debian-sys-maint  localhost
2  mysql.infoschema  localhost
3     mysql.session  localhost
4         mysql.sys  localhost
5              root  localhost

## Create Data Tables

In [34]:
%%writefile $SCRIPT_PATH/create-tables.sql
USE nutrition;

DROP TABLE IF EXISTS nutrition_facts;
DROP TABLE IF EXISTS nutrients;
DROP TABLE IF EXISTS units;
DROP TABLE IF EXISTS items;
DROP TABLE IF EXISTS categories;

CREATE TABLE categories (
  category_id INT PRIMARY KEY AUTO_INCREMENT,
  category_name VARCHAR(255) NOT NULL
);

CREATE TABLE items (
  item_id INT PRIMARY KEY AUTO_INCREMENT,
  item_name VARCHAR(255) NOT NULL,
  category INT NOT NULL,
  FOREIGN KEY (category) REFERENCES categories(category_id)
);

CREATE TABLE units (
  unit_id INT PRIMARY KEY AUTO_INCREMENT,
  unit_name VARCHAR(255) NOT NULL
);

CREATE TABLE nutrients (
  nutrient_id INT PRIMARY KEY AUTO_INCREMENT,
  nutrient_name VARCHAR(255) NOT NULL,
  unit int NOT NULL,
  FOREIGN KEY (unit) REFERENCES units(unit_id)
);

CREATE TABLE nutrition_facts (
  item INT,
  nutrient INT,
  quantity FLOAT NOT NULL,
  PRIMARY KEY (item, nutrient),
  FOREIGN KEY (item) REFERENCES items(item_id),
  FOREIGN KEY (nutrient) REFERENCES nutrients(nutrient_id)
);

Overwriting /content/project/nutrition-facts/scripts/create-tables.sql

In [35]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/create-tables.sql

In [36]:
%%sql
SHOW TABLES;

 * mysql+pymysql://francis:***@localhost/nutrition
5 rows affected.

  Tables_in_nutrition
0          categories
1               items
2           nutrients
3     nutrition_facts
4               units

## Load Denormalised Data (required for Data Ingestion)

In [37]:
%%writefile $SCRIPT_PATH/load-dnorm-data.sql
USE nutrition;

DROP TABLE IF EXISTS dnorm_data;
CREATE TABLE dnorm_data (
    Category VARCHAR(255),
    Item VARCHAR(255),
    ServingSize FLOAT,
    Calories FLOAT,
    CaloriesFromFat FLOAT,
    TotalFat FLOAT,
    SaturatedFat FLOAT,	
    TransFat FLOAT,
    Cholesterol FLOAT,
    Sodium FLOAT,
    Carbohydrates FLOAT,
    DietaryFiber FLOAT,
    Sugars FLOAT,
    Protein FLOAT
);

LOAD DATA INFILE '/home/coder/project/nutrition-facts/data/dnorm-data.csv' 
INTO TABLE dnorm_data 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

DROP TABLE IF EXISTS pivot_tbl;

CREATE TABLE pivot_tbl (
    category VARCHAR(255),
    item VARCHAR(255),
    nutrient VARCHAR(255),
    quantity FLOAT,
    unit VARCHAR(255)
);

INSERT INTO pivot_tbl (category, item, nutrient, quantity, unit)
    SELECT Category, Item, 'Serving Size', ServingSize, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Calories', Calories, 'kcal' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Calories from Fat', CaloriesFromFat, 'kcal' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Total Fat', TotalFat, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Saturated Fat', SaturatedFat, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Trans Fat', TransFat, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Cholesterol', Cholesterol, 'mg' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Sodium', Sodium, 'mg' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Carbohydrates', Carbohydrates, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Dietary Fiber', DietaryFiber, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Sugars', Sugars, 'g' FROM dnorm_data
    UNION ALL 
    SELECT Category, Item, 'Protein', Protein, 'g' FROM dnorm_data;

Writing /content/project/nutrition-facts/scripts/load-dnorm-data.sql

In [38]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/load-dnorm-data.sql

In [2]:
%%sql
SELECT *
FROM dnorm_data;

UsageError: Cell magic `%%sql` not found.

In [39]:
%%sql
SELECT *
FROM pivot_tbl;

 * mysql+pymysql://francis:***@localhost/nutrition
3120 rows affected.

,category,item,nutrient,quantity,unit
0,Breakfast,Egg McMuffin,Serving Size,136.0,g
1,Breakfast,Egg White Delight,Serving Size,135.0,g
2,Breakfast,Sausage McMuffin,Serving Size,111.0,g
3,Breakfast,Sausage McMuffin with Egg,Serving Size,161.0,g
4,Breakfast,Sausage McMuffin with Egg Whites,Serving Size,161.0,g
...,...,...,...,...,...
3115,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),Protein,12.0,g
3116,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),Protein,15.0,g
3117,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),Protein,8.0,g
3118,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),Protein,21.0,g
3119,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),Protein,10.0,g

## Ingest Data into the Normalised Tables

In [ ]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/ingest-data.sql

In [53]:
%%writefile $SCRIPT_PATH/ingest-data.sql
USE nutrition;

DELETE FROM nutrition_facts;
DELETE FROM nutrients;
DELETE FROM units;
DELETE FROM items;
DELETE FROM categories;


INSERT INTO categories (category_name)
    SELECT DISTINCT category
    FROM pivot_tbl;

INSERT INTO items (item_name, category)
    SELECT DISTINCT p.item, c.category_id
    FROM pivot_tbl p
    LEFT JOIN categories c
    ON p.category = c.category_name;

INSERT INTO units (unit_name)
    SELECT DISTINCT unit
    FROM pivot_tbl;

INSERT INTO nutrients (nutrient_name, unit)
    SELECT DISTINCT p.nutrient, u.unit_id
    FROM pivot_tbl p
    LEFT JOIN units u
    ON p.unit = u.unit_name;

INSERT INTO nutrition_facts (item, nutrient, quantity)
    SELECT DISTINCT i.item_id, n.nutrient_id, p.quantity
    FROM pivot_tbl p
    LEFT JOIN items i
    ON p.item = i.item_name
    LEFT JOIN nutrients n
    ON p.nutrient = n.nutrient_name;

Overwriting /content/project/nutrition-facts/scripts/ingest-data.sql

In [54]:
!mysql -t < /home/coder/project/nutrition-facts/scripts/ingest-data.sql

In [55]:
%%sql
SELECT *
FROM categories;

 * mysql+pymysql://francis:***@localhost/nutrition
9 rows affected.

   category_id       category_name
0           31           Breakfast
1           32         Beef & Pork
2           33      Chicken & Fish
3           34              Salads
4           35      Snacks & Sides
5           36            Desserts
6           37           Beverages
7           38        Coffee & Tea
8           39  Smoothies & Shakes

In [56]:
%%sql
SELECT *
FROM items;

 * mysql+pymysql://francis:***@localhost/nutrition
260 rows affected.

     item_id                                          item_name  category
0        512                                       Egg McMuffin        31
1        513                                  Egg White Delight        31
2        514                                   Sausage McMuffin        31
3        515                          Sausage McMuffin with Egg        31
4        516                   Sausage McMuffin with Egg Whites        31
..       ...                                                ...       ...
255      767                 McFlurry with Oreo Cookies (Small)        39
256      768                McFlurry with Oreo Cookies (Medium)        39
257      769                 McFlurry with Oreo Cookies (Snack)        39
258      770  McFlurry with Reese's Peanut Butter Cups (Medium)        39
259      771   McFlurry with Reese's Peanut Butter Cups (Snack)        39

[260 rows x 3 columns]

In [57]:
%%sql
SELECT *
FROM units;

 * mysql+pymysql://francis:***@localhost/nutrition
3 rows affected.

   unit_id unit_name
0        1         g
1        2      kcal
2        3        mg

In [58]:
%%sql
SELECT *
FROM nutrients;

 * mysql+pymysql://francis:***@localhost/nutrition
12 rows affected.

    nutrient_id      nutrient_name  unit
0             1       Serving Size     1
1             2           Calories     2
2             3  Calories from Fat     2
3             4          Total Fat     1
4             5      Saturated Fat     1
5             6          Trans Fat     1
6             7        Cholesterol     3
7             8             Sodium     3
8             9      Carbohydrates     1
9            10      Dietary Fiber     1
10           11             Sugars     1
11           12            Protein     1

In [59]:
%%sql
SELECT *
FROM nutrition_facts;

 * mysql+pymysql://francis:***@localhost/nutrition
3120 rows affected.

      item  nutrient  quantity
0      512         1     136.0
1      512         2     300.0
2      512         3     120.0
3      512         4      13.0
4      512         5       5.0
...    ...       ...       ...
3115   771         8     200.0
3116   771         9      57.0
3117   771        10       1.0
3118   771        11      51.0
3119   771        12      10.0

[3120 rows x 3 columns]

## Save Data Files and SQL Scripts to GDrive Folder

In [60]:
!cp $SCRIPT_PATH/*.sql $GD_SCRIPT_PATH/.
!cp $DATA_PATH/*.csv $GD_DATA_PATH/.

## Migrate Codes and Data to Coursera Environment

### Pre-Requisites
- Data Files:
  - <code>mcdonalds-nutrition-facts.csv</code> and <code>dnorm-data.csv</code>
- SQL Scripts:
  - <code>create-tables.sql</code>, <code>load-dnorm-data.sql</code>, <code>ingest-data.sql</code>

### Lab Environment
For coursework, we are required to work using Week 10's Coursera Lab Environment. However, if we would like to try it out, we can also use **Lab**: 2.304 Design and Build a Simple Database or any other labs.

![image.png]()

### MySQL Setup in Coursera

**Step 1**: Using terminal, create new directories called <code>project</code> (if not already exist) and <code>nutrition-facts</code>, where <code>nutrition-facts</code> is a subdirectory of <code>project</code>.

```shell
mkdir -p project
mkdir -p project/nutrition-facts
```

**Step 2**: Create two directories called <code>data</code> and <code>scripts</code>, where <code>data</code> and <code>scripts</code> are subdirectory of <code>nutrition-facts</code>.

```shell
mkdir -p project/nutrition-facts/data
mkdir -p project/nutrition-facts/scripts
```
**Step 3**: Upload <code>mcdonalds-nutrition-facts.csv</code> and <code>dnorm-data.csv</code> to the <code>data</code> folder and </code>configure-database.sql</code>, </code>load-data.sql</code>,<code>instantiate-data-tables.sql</code> and </code>ingest-data.sql</code> to the <code>scripts</code> folder.

In [ ]:
%%writefile $SCRIPT_PATH/create-tables.sql
USE nutrition;

DROP TABLE IF EXISTS nutrition_facts;
DROP TABLE IF EXISTS nutrients;
DROP TABLE IF EXISTS units;
DROP TABLE IF EXISTS items;
DROP TABLE IF EXISTS categories;

CREATE TABLE categories (
  category_id INT PRIMARY KEY AUTO_INCREMENT,
  category_name VARCHAR(255) NOT NULL
);

CREATE TABLE items (
  item_id INT PRIMARY KEY AUTO_INCREMENT,
  item_name VARCHAR(255) NOT NULL,
  category INT NOT NULL,
  FOREIGN KEY (category) REFERENCES categories(category_id)
);

CREATE TABLE units (
  unit_id INT PRIMARY KEY AUTO_INCREMENT,
  unit_name VARCHAR(255) NOT NULL
);

CREATE TABLE nutrients (
  nutrient_id INT PRIMARY KEY AUTO_INCREMENT,
  nutrient_name VARCHAR(255) NOT NULL,
  unit int NOT NULL,
  FOREIGN KEY (unit) REFERENCES units(unit_id)
);

CREATE TABLE nutrition_facts (
  item INT,
  nutrient INT,
  quantity FLOAT NOT NULL,
  PRIMARY KEY (item, nutrient),
  FOREIGN KEY (item) REFERENCES items(item_id),
  FOREIGN KEY (nutrient) REFERENCES nutrients(nutrient_id)
);

Overwriting /content/project/nutrition-facts/scripts/create-tables.sql